<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="/components/socket.io-client/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>