<div class="modal fade modalPadd" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModal"
     aria-hidden="true">
    <div class="form-section">

        <div class="form-content animated bounceInDown" data-animation="bounceIn">
            <form>
                <div class="section-title">
                    <h3>Create Folder</h3>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="fa fa-pencil"></i></span>
                        <input type="text" required="required" class="form-control " id="createFolder"
                               name="createFolder" placeholder="Folder Name">
                    </div>
                </div>
                <div class="form-action clearfix">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-success pull-right">Create <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modalPadd" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModal"
     aria-hidden="true">
    <div class="form-section">
        <div class="form-content animated bounceInDown" data-animation="bounceIn">
            <form>
                <div class="section-title">
                    <h3>Upload File</h3>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="fa fa-upload"></i></span>
                        <input type="file" required="required" class="form-control " id="file"
                               name="file" placeholder="File">
                    </div>
                </div>
                <div class="form-action clearfix">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-success pull-right">Upload <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>