<% include head.ejs %>

<div class="container">
    <div class="form-section">

        <div class="form-content animated bounceInDown" data-animation="bounceIn">
            <form action="/signin" method="POST">
                <div class="section-title">
                    <h3>Sign in to <%- title %></h3>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="fa fa-user"></i></span>
                        <input type="text" required="required" class="form-control" name="username"
                               placeholder="Username">
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="fa fa-key"></i></span>
                        <input type="password" required="required" class="form-control " name="password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-action clearfix">

                    <a href="/" class="btn btn-default pull-left">Back</a>

                    <button type="submit" class="btn btn-success pull-right">Sign in <i
                                class="fa fa-chevron-right"></i></button>

                </div>

            </form>

            <% if(locals.info){ locals.info.forEach(function(flash, index) { %>
            <div class="alert alert-info" role="alert"><%- flash %></div>
            <% })} %>
            <% if(locals.success){ locals.success.forEach(function(flash, index) { %>
            <div class="alert alert-success" role="alert"><%- flash %></div>
            <% })} %>
            <% if(locals.error){ locals.error.forEach(function(flash, index) { %>
            <div class="alert alert-danger" role="alert"><%- flash %></div>
            <% })} %>
        </div>


    </div>
</div>

<% include foot.ejs %>


